<div class="container mt-3">
  <%= search_form_for @q, url: search_home_index_path,
                          html: { method: :post } do |f| %>
     <%= f.search_field :tags_name_eq %> 
     <%=f.submit "search" %> <% end %>
  </div>